:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: ;
  --logo-colour: #4d5ae5;
  --logo-right-part: #2e2f42;
  --nav-list-color: #2e2f42;
  --color-nav-list-hover: #404bbf;
  --color-nav-list-focus: #404bbf;
  --color-address-nav-link: #434455;
  --color-address-nav-link-hover: #404bbf;
  --color-address-nav-link-focus: #404bbf;
  --background-color: #ffffff;
  --background-color-hero: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}

/* Header */

/* Logo */
.logo {
  color: var(--logo-colour);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-right-part {
  color: var(--logo-right-part);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-list-color);
}

.nav-list:hover {
  color: var(--color-nav-list-hover);
}

.nav-list:focus {
  color: var(--color-nav-list-focus);
}

/* Address navigation section */

.address-nav-list {
  font-style: normal;
}
.address-nav-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-address-nav-link);
}

.address-nav-link:hover {
  color: var(--color-address-nav-link-hover);
}

.address-nav-link:focus {
  color: var(--color-address-nav-link-focus);
}

/* Main content */
/* Hero section */
.hero-section {
  background-color: var(--background-color-hero);
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
